
/*
 * Site specific styles for phykos website.
 */

/* ==========================================================================
   Base styles
   ========================================================================== */

html {
  background: #222 url(/img/surface-opt.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  color: #fafafa;
  font-family: 'Open Sans', sans-serif;
}

div.overlay {
  background-color: rgba(20, 20, 20, 0.7);
  padding: 5rem;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
}

div.wrap {
  margin: 0 auto;
  text-align: center;
  z-index: 1;
}

h1 {
  font-family: 'Merriweather', serif;
  font-size: 5rem;
  margin-top: 20%;
  margin-bottom: 1rem;
  padding-bottom: 0;
}

h1 span {
  color: #999;
  font-size: 0.4em;
  padding-left: 0.5rem;
  text-transform: uppercase;
}

p.mission {
  color: #dedede;
  font-size: 1.5rem;
}

p.coming {
  color: #dedede;
  font-size: 0.9rem;
  text-transform: uppercase;
}

p.contact {
  margin-top: 3em;
}

a.contact,
a.contact:visited {
  background: #005871;
  border: 1px solid #9EBACC;
  border-radius: 3px;
  color: #bbbbbf;
  padding: 0.6em 1.2em;
  text-decoration: none;
}


/* ==========================================================================
   Responsive text and padding sizes
   ========================================================================== */
@media screen and (max-width: 1680px) {
  html {
    font-size: 13pt; }}

@media screen and (max-width: 1280px) {
  html { font-size: 12pt; } 
  h1 { font-size: 4rem; }
}

@media screen and (max-width: 980px) {
  html { font-size: 11pt; } 
  h1 { font-size: 3rem; }
}

@media screen and (max-width: 736px) {
  html { font-size: 10pt; } 
  h1 { font-size: 2rem; }
}

@media screen and (max-width: 480px) {
  html { font-size: 10pt; } 
  h1 { font-size: 2rem; }
}